@page "/productdetail/{ID:int}"
<h3>Product Details</h3>


@if (Product == null)
{
    <p><em>Loading.......</em></p>
}
else
{
    <h1 class="page-title">Details for @Product.Description</h1>

    <div class="col-12 row">
        <div class="col-10 row">
            <div class="col-xs-12 col-sm-8">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Product ID</label>
                    <div class="col-sm-8">
                        <label type="text" class="form-control-plaintext">@Product.ID</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Description</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Product.Description</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Stock on Hand</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Product.StockOnHand</label>
                    </div>
                </div>

            </div>
        </div>
    </div>


    @if (Product.ProductSupplier != null)
    {
        <div class="col-10 row">
            <div class="col-xs-12 col-sm-8">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Supplied By</label>
                    <div class="col-sm-8">
                        <label type="text" class="form-control-plaintext">@Product.ProductSupplier.CompanyName</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Contact</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Product.ProductSupplier.ContactName</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Contact Number</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Product.ProductSupplier.Phone</label>
                    </div>
                </div>
            </div>
        </div>
    }
}
